<h1>Delivery Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label "Profile Photo" %>
        <%= f.file_field :profile_photo %>
        <%= image_tag @cadet.profile_photo.url(:medium) %>

        <%= f.label "Driver Licensea" %>
        <%= f.file_field :license %>
        <%= image_tag @cadet.profile_photo.url(:thumb) %>

        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :document %>
        <%= f.text_field :document %>


        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
    <% end %>
  </div>
</div>
<%= render "cadets/shared/links" %>
